
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    width: 3px;
    margin-left: -1.5px;
    background-color: #2980b9;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: calc(100% - 80px);
    margin-left: 70px;
    padding: 0 20px 20px 20px;
    text-align: left;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 10px;
    width: 44px;
    height: 44px;
    margin-left: 0;
    border: 3px solid #2980b9;
    border-radius: 100%;
    text-align: center;
    color: #2980b9;
    background-color: #fff;
}

.img-me {
    z-index: 100;
    left: 0;
    width: 100px;
    height: 100px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #f1f1f1;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.img-me h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

// Work Experience Styles
.timeline .timeline-heading h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
}

.timeline .timeline-heading h5 {
    font-size: 1.1em;
    font-weight: 400;
    color: #666;
    margin: 0 0 10px 0;
}

.timeline-meta {
    font-size: 0.9em;
    color: #888;
    margin: 5px 0;
}

.timeline-meta i {
    margin-right: 5px;
    color: #aaa;
}

.timeline-type {
    display: inline-block;
    background: #e8f4f8;
    color: #2980b9;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 0.85em;
    margin-left: 10px;
}

.timeline-location {
    font-size: 0.9em;
    color: #888;
    margin: 5px 0 15px 0;
}

.timeline-location i {
    margin-right: 5px;
    color: #aaa;
}

.timeline-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #2980b9;
    line-height: 1;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50px;
        width: 3px;
    }

    .timeline>li {
        margin-bottom: 40px;
        min-height: 80px;
    }

    .timeline>li .timeline-panel {
        width: calc(100% - 120px);
        margin-left: 100px;
        padding: 20px 25px;
        text-align: left;
    }

    .timeline>li .timeline-image {
        left: 28px;
        width: 50px;
        height: 50px;
    }

    .timeline-icon {
        font-size: 1.3em;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline:before {
        left: 60px;
    }

    .timeline>li {
        margin-bottom: 30px;
        min-height: 80px;
    }

    .timeline>li .timeline-panel {
        width: calc(100% - 140px);
        margin-left: 120px;
        padding: 20px 30px;
    }

    .timeline>li .timeline-image {
        left: 35px;
        width: 56px;
        height: 56px;
    }

    .timeline-icon {
        font-size: 1.4em;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 20px 30px;
    }
}

